.mycoll-card {
  background: "transparent";
  height: 425px;
  width: 300px;
  box-shadow: 0px 0px 5px black;
  text-decoration: none;
  padding-bottom: 10px;
}

.mycoll-card:hover {
  transform: scale(1.02);
  transition: 0.2s ease-out;
}

.mycoll-card-img {
  border-radius: 10px 10px 0 0;
  height: 60%;
  width: 100%;
  cursor: pointer;
  transition: 0.2s ease-out;
}
