.img-upload-input {
  display: none;
}

.img-upload-label {
  display: flex;
  border: 1px dashed;
  width: 100%;
  min-height: 200px;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.1s all ease-in-out;
  gap: 5px;
  cursor: pointer;
  background: transparent;
}

.img-upload-label:hover,
.img-upload-label:focus,
.img-upload-label:active {
  border-width: 3px;
  outline: none;
}

.img-upload-label .img-upload-cloud {
  transition: all 0.2s ease-in;
}

.img-upload-label:hover .img-upload-cloud,
.img-upload-label:focus .img-upload-cloud,
.img-upload-label:active .img-upload-cloud {
  transform: translateY(-10px);
}
